.login-screen {
  @apply w-full h-full flex justify-center items-center;
  background-image: url('../../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .main-content {
    @apply text-center;

    &__app-name {
      @apply text-4xl font-bold;

      &--main {
        @apply text-5xl text-yellow-400 rounded-full py-2 inline-block;
      }
    }

    &__pin-input {
      @apply text-center text-5xl shadow-md rounded-3xl px-10 py-5;
    }
  }
}
